<% layout('layouts/boilerplate') -%>
<h1>Cave Show</h1>
<h3><%=cave.name%></h3>
<%if(currentUser && caveUser && caveUser.role === 'Land Lord'){%>
    <p><a href='/caves/<%=cave.caveId%>/edit'>Edit</a> cave</p>
    <form method='POST' action='/caves/<%=cave.caveId%>?_method=DELETE'>
        <input type='submit' value='DELETE'>
    </form>
    <a href='/caves/<%=cave.caveId%>/jobs/new'>New Job</a>
    <h3>Open Requests</h3>
 
    <%if(requestList && Array.isArray(requestList)){%>
        <%requestList.forEach((request)=>{%>
            <p><%=request.username%></p>
            <p><%=request.caveId%></p>
            <p><%=request.status%></p>
            <%if(request.status === 'pending'){%>
                <form action='/caves/<%=cave.caveId%>/requests/<%=request.requestId%>?_method=PUT' method='POST'>
                    <input type='text' name='status' value='accepted' hidden>
                    <input type='submit' value='Accept'>
                </form>
                <form action='/caves/<%=cave.caveId%>/requests/<%=request.requestId%>?_method=PUT' method='POST'>
                    <input type='text' name='status' value='declined' hidden>
                    <input type='submit' value='Decline'>
                </form>
            <%}%>
            <hr>
        <%})%>
    <%}else if(requestList){%>
            <p><%=requestList.username%></p>
            <p><%=requestList.caveId%></p>
            <p><%=requestList.status%></p>
            <hr>
    <%}%>

<%}else if(currentUser && !caveUser){%>
    <p><%=cave.caveId%></p>
    <form method='POST' action='/caves/<%=cave.caveId%>/requests'>
        <input type='submit' value='Join Cave'>
    </form>
<%}%>