<% layout('layouts/boilerplate') -%>
<h1>Cave Show</h1>
<h3><%=cave.name%></h3>
<%if(currentUser && caveUser && caveUser.role === 'Land Lord'){%>
    <p><a href='/caves/<%=cave.caveId%>/landlord'>Land Lord Portal</a></p>
    
<%} if(currentUser && caveUser && caveUser.role ){%>
    <h3>Jobs</h3>
    <%if(jobsList && Array.isArray(jobsList)){%>
        <%jobsList.forEach((job)=>{%>
            <p><a href='/caves/<%=cave.caveId%>/jobs/<%=job.jobId%>'><%=job.title%></a></p>
            <hr>
        <%})%>
    <%}else if(jobsList){%>
            <p><%=jobsList.title%></p>
            <hr>
    <%}%>
<%}else if(currentUser && !caveUser){%>
    <p><%=cave.caveId%></p>
    <form method='POST' action='/caves/<%=cave.caveId%>/requests'>
        <input type='submit' value='Join Cave'>
    </form>
<%}%>